@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 4rem;
}

.menu {
    margin-right: 1rem;
}

.menu a {
    text-decoration: none;
    cursor: pointer;
    padding: 3rem 1rem;
    border-top: transparent solid 2px;
    transition: color .2s ease-in-out, border .2s ease-in-out;
}

.menu a:hover {
    color: #0065FC;
    border-top: #0065FC solid 2px;
}

.menu li {
    display: inline-flex;
    padding: 0rem 2rem;
}

.menu li:last-child {
    color: #0065FC;
    font-weight: 700;
}